<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.masiro.dabamdaproject">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="DaBamDa"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/DabamDaTheme">
        <activity android:name=".IntroActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"/>
        <activity android:name=".FoodActivity" />
        <activity android:name=".MovieActivity"/>
        <activity android:name=".FoodRecomendActivity"/>
        <activity android:name=".FoodRecommendWebActivity"/>
        <activity android:name=".SeoulRecommendResActivity"/>
        <activity android:name=".SeoulRecommendResWebActivity"/>
        <activity android:name=".FestivalWebActivity"/>
        <activity android:name=".WifiActivity"/>
    </application>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
</manifest>